* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  /* border: 1px solid red; */
}

:root {
  --clr-primary-white: #ffff;
  --clr-secondary-grey: #333950;
  --clr-neutral-blue: #5175ff;

  --ff-primary: "Kumbh Sans", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-regular-s: 16px;
  --fs-regular-m: 18px;
  --fs-bold-s: 20px;
  --fs-bold-m: 56px;
}

body {
  min-height: 100vh;
  color: #747b95;
  position: relative;
  background-image: url(./assets/home/bg-pattern-header.svg),
    url(./assets/home/bg-pattern-footer.svg),
    linear-gradient(180deg, #fafafa 61%, #25293a 0%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 160% -42%, -42% 160%;
  background-size: 70% auto, 75% 80%, auto auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 80px auto 80px auto;
  max-width: 1110px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 80px);
    margin: 80px 40px 80px 40px;
  }
}

.logo {
  width: 100%;
  order: -99;
}

@media only screen and (max-width: 800px) {
  .logo {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.logo-small {
  width: 155px;
}

.intro__text {
  max-width: 540px;
  width: 45%;
}

@media only screen and (min-width: 1200px) {
  .intro__text {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .intro__text {
    width: 100%;
    text-align: center;
    order: -1;
    margin: auto;
    margin-top: 32px;
  }
}

.intro__title {
  color: var(--clr-secondary-grey);
}

.intro__subtitle {
  font-weight: 400;
  font-size: 16px;
}

.intro__image {
  margin-top: -50px;
  height: fit-content;
  max-width: 475px;
  width: 45%;
}

@media only screen and (max-width: 800px) {
  .intro__image {
    width: 100%;
    margin: auto;
    order: -2;
  }
}

.subscriptions {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 184px;
  gap: 20px;
}

.card {
  width: 350px;
  border-radius: 1rem;
}

.card--white {
  background-color: var(--clr-primary-white);
}

.card--primary-with-bg {
  color: white;
  background-color: var(--clr-neutral-blue);
  background-image: url("./assets/home/bg-pattern-pricing.svg");
  background-position: center top;
  background-position: 50% 105%;
  background-repeat: no-repeat;
  background-size: 250% auto;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--clr-secondary-grey);
}

.card__price {
  font-weight: 700;
  font-size: 56px;
  color: var(--clr-secondary-grey);
  margin-top: -20px;
}

.cardpro__price {
  font-weight: 700;
  font-size: 56px;
  color: var(--clr-primary-white);
  margin-top: -20px;
}

.cardpro__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--clr-primary-white);
}

.card__users {
  font-size: 15px;
}

.btn__blue {
  background-color: var(--clr-neutral-blue);
  font-size: 18px;
  color: var(--clr-primary-white);
  border: none;
  font-weight: bold;
}

.btn__start {
  font-size: 16px;
  color: var(--clr-primary-white);
  border: none;
  font-weight: bold;
}

.btn__try {
  font-size: 16px;
  color: var(--clr-primary-white);
  background-color: var(--clr-neutral-blue);
  border: none;
  font-weight: bold;
}

.btn__blue__try {
  color: var(--clr-neutral-blue);
  font-size: 16px;
  border: none;
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 15px;
}

img {
  height: 100%;
}

.coming-soon {
  display: flex;
  width: 100%;
}

.highlight {
  color: var(--clr-neutral-blue);
  font-size: var(--fw-semi-bold);
  margin-left: 10px;
}

.timerdisplay {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
}

.timercount {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.countdown__days {
  background: var(--clr-secondary-grey);
  padding: 30px 15px 30px 15px;
  color: var(--clr-primary-white);
  font-size: 12px;
  text-align: center;
}

.countdown__hours {
  background: var(--clr-secondary-grey);
  padding: 30px 15px 30px 15px;
  color: var(--clr-primary-white);
  font-size: 12px;
  text-align: center;
}

.countdown__minutes {
  background: var(--clr-secondary-grey);
  padding: 30px 15px 30px 15px;
  color: var(--clr-primary-white);
  font-size: 12px;
  text-align: center;
}

.countdown__seconds {
  background: var(--clr-secondary-grey);
  padding: 30px 15px 30px 15px;
  color: var(--clr-primary-white);
  font-size: 12px;
  text-align: center;
}

span,
#days,
#hours,
#minutes,
#seconds {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}

/* Utility */

.lineh-l {
  line-height: 28px;
}

.brdradius-s {
  border-radius: 13px;
}

.brdradius-l {
  border-radius: 28px;
}

.pt-l {
  padding-top: 30px;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-s {
  margin-bottom: 16px;
}

.mb-m {
  margin-bottom: 20px;
}

.mb-l {
  margin-bottom: 32px;
}

.mb-xl {
  margin-bottom: 40px;
}

.mb-xxl {
  margin-bottom: 56px;
}

.mb-xxxl {
  margin-bottom: 82px;
}

.p-xl {
  padding: 40px;
}

.mb-content-l {
  margin-bottom: 102px;
}

.mb-content-xl {
  margin-bottom: 184px;
}

.btn-size {
  width: 171px;
  padding: 20px;
}

.heading-bold--l {
  font-family: var(--ff-primary);
  font-size: var(--fs-bold-m);
  line-height: 64px;
  font-weight: var(--fw-bold);
}

.heading-bold--m {
  font-family: var(--ff-primary);
  font-size: var(--fs-bold-s);
  line-height: 28px;
  font-weight: var(--fw-bold);
}

.heading-bold--s {
  font-family: var(--ff-primary);
  font-size: var(--fs-regular-s);
  line-height: 48px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
