* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  /* border: 1px solid red; */
}

:root {
  --clr-primary-white: #ffff;
  --clr-secondary-grey: #333950;
  --clr-neutral-blue: #5175ff;

  --ff-primary: "Kumbh Sans", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-regular-s: 16px;
  --fs-regular-m: 18px;
  --fs-bold-s: 20px;
  --fs-bold-m: 56px;
}

body {
  min-height: 100vh;
  color: #747b95;
  position: relative;
  background-image: url(./assets/home/bg-pattern-header.svg),
    url(./assets/home/bg-pattern-footer.svg),
    linear-gradient(180deg, #fafafa 61%, #25293a 0%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 160% -42%, -42% 160%;
  background-size: 70% auto, 75% 80%, auto auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* ok, nu nog eens slepen, rustig he! 
  Tot het moment dat het stuk gaat */
  /* Ok, dus nu zien we dat het tekstje wat krimpt <-- */
  /* width: 50% en max-width: 540px, idd */
  /* Nu zien we dat het plaatje wat er naast staat gaat wrappen */
  /* Dus we zouden bij het plaatje hetzelfde kunnen doen */
  /* OF! zie dat de container best veel ruimte links & rechts heeft? */
  /* Hoe hadden we dat gedaan? */
  /* Helemaal links en rechts, de body bedoel ik */
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* padding: 80px 165px; */
  /* boven links onder rechts */
  /* margin auto kan alleen links en rechts */
  /* het verdeelt de overige ruimte (dus als iets niet de hele width inneemt) */
  /* margin auto werkt niet bij elementen met display: inline of inline-block */
  /* Dus de techniek is hier: 

- width: een percentage 
- een maxwidth (zodat het niet te groot wordt)
- margin auto (om het gecentreerd te houden) 

*/
  /* Nu weer even slepen */
  /* Nu hebben we helemaal geen margin meer opde container */
  /* Dat is voor deze size misschien niet helemaal wenselijk */
  margin: 80px auto 80px auto;
  max-width: 1110px;
}

/* Nu komen dan de media queries haha */
/* even slepen? */
/* Ok, nu weer eens tukje slepen */
/* Wanneer gat het echt "stuk"? */
/* Ok, even naar het design kijken? */
/* Hadden ze een tablet design? */
/* Ok, dan mobiel? */
/* We kunnen het plaatje nog een beetje laten krimpen */
/* en dan opp een geven moment alles onder elkaar */
@media only screen and (max-width: 1200px) {
  .container {
    /* Dus in plaats van de max width zeggen we nu */
    /* De width is 100% - 80 voor de margins */
    /* 80 is boven en onder */
    /* het is 40 links en 40 rechts (dus samen 80) */

    width: calc(100% - 80px);
    margin: 80px 40px 80px 40px;
  }
}

.logo {
  width: 100%;
  order: -99;
}

@media only screen and (max-width: 800px) {
  .logo {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.logo-small {
  width: 155px;
}

/* Hier id de class intro text */
.intro__text {
  max-width: 540px;
  width: 45%;
}

/* en dit doet intro text op: 1200px */
@media only screen and (min-width: 1200px) {
  .intro__text {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
}

/* even proberen? 

wtf?? ok, even googlen ... waarom v*/
/* en 800 px */
@media only screen and (max-width: 800px) {
  .intro__text {
    width: 100%;
    text-align: center;
    order: -1;
    margin: auto;
    margin-top: 32px;
  }
}

.intro__title {
  color: #333950;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 16px;
}

.intro__image {
  margin-top: -50px;
  height: fit-content;
  max-width: 475px;
  width: 45%;
  /* Nu moet het lpaatje nog bovenaan komen! */
  /* flex-box guide? */
  /* Is de foto een flex container of een flex item? */
  /* Order */
}

@media only screen and (max-width: 800px) {
  .intro__image {
    /* Ok, nu moet het plaatje wel op 1 regel staan 
    en de text er onder */
    width: 100%;
    margin: auto;
    order: -2;
  }
}

.subscriptions {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 184px;
  gap: 20px;
}

.card {
  width: 350px;
  border-radius: 1rem;
}

.card--white {
  background-color: white;
}

.card--primary-with-bg {
  color: white;
  background-color: #5175ff;
  background-image: url("./assets/home/bg-pattern-pricing.svg");
  background-position: center top;
  background-position: 50% 105%;
  background-repeat: no-repeat;
  background-size: 250% auto;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  color: #333950;
}

.card__price {
  font-weight: 700;
  font-size: 56px;
  color: black;
  margin-top: -20px;
}

.cardpro__price {
  font-weight: 700;
  font-size: 56px;
  color: white;
  margin-top: -20px;
}

.cardpro__title {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.card__users {
  font-size: 15px;
}

.btn__blue {
  background-color: var(--clr-neutral-blue);
  font-size: 18px;
  color: white;
  border: none;
}

.btn__start {
  font-size: 16px;
  color: black;
  border: none;
}

.btn__try {
  background: #5175ff26;
  font-size: 16px;
  color: #5175ff;
  border: none;
}

.btn__blue__try {
  background-color: white;
  font-size: 16px;
  border: none;
}

li {
  list-style: none;
  font-size: 15px;
}

img {
  height: 100%;
}

.timertitle {
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.timerdisplay {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
}

.timercount {
  display: flex;
  gap: 20px;
}

.countdown__days {
  background: #333950;
  padding: 20px 15px 20px 15px;
  color: white;
  font-size: 10px;
}

.countdown__hours {
  background: #333950;
  padding: 20px 10px 20px 10px;
  color: white;
  font-size: 10px;
}

.countdown__minutes {
  background: #333950;
  padding: 20px 10px 20px 10px;
  color: white;
  font-size: 10px;
}

.countdown__seconds {
  background: #333950;
  padding: 20px 10px 20px 10px;
  color: white;
  font-size: 10px;
}

span {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/* Utility */

.lineh-l {
  line-height: 28px;
}

.brdradius-s {
  border-radius: 13px;
}

.brdradius-l {
  border-radius: 28px;
}

.pt-l {
  padding-top: 30px;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-s {
  margin-bottom: 16px;
}

.mb-m {
  margin-bottom: 20px;
}

.mb-l {
  margin-bottom: 32px;
}

.mb-xl {
  margin-bottom: 40px;
}

.mb-xxl {
  margin-bottom: 56px;
}

.mb-xxxl {
  margin-bottom: 82px;
}

.p-xl {
  padding: 40px;
}

.mb-content-l {
  margin-bottom: 102px;
}

.mb-content-xl {
  margin-bottom: 184px;
}

.btn-size {
  width: 171px;
  padding: 20px;
}

.heading-bold--l {
  font-family: var(--ff-primary);
  font-size: var(--fs-bold-m);
  line-height: 64px;
  font-weight: var(--fw-bold);
}

.heading-bold--m {
  font-family: var(--ff-primary);
  font-size: var(--fs-bold-s);
  line-height: 28px;
  font-weight: var(--fw-bold);
}

.heading-bold--s {
  font-family: var(--ff-primary);
  font-size: var(--fs-regular-s);
  line-height: 48px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
